<form action="/users/<%= user.slug %>/books/<%= book.isbn %>" method="POST">
  <input type=hidden name=authenticity_token value="<%= env['rack.session'][:csrf] %>">

  <div class="field">
    <label class="label">Title</label>
    <div class="control">
      <input
          class="input <%= 'is-danger' if book.errors.include?(:title) %>"
          type="text"
          name="title"
          value="<%=h book.title %>"
          required>
      <% if book.errors.include?(:title) %>
        <p class="help is-danger"><%= book.errors.full_messages_for(:title).join %></p>
      <% end %>
    </div>
  </div>
  <div class="field">
    <label class="label">Author</label>
    <div class="control">
      <input
          class="input <%= 'is-danger' if book.errors.include?(:author) %>"
          type="text"
          name="author"
          value="<%=h book.author %>"
          required>
      <% if book.errors.include?(:author) %>
        <p class="help is-danger"><%= book.errors.full_messages_for(:author).join %></p>
      <% end %>
    </div>
  </div>
  <% unless book.persisted? %>
    <div class="field">
      <label class="label">ISBN</label>
      <div class="control">
        <input
            class="input <%= 'is-danger' if book.errors.include?(:isbn) %>"
            type="number"
            name="isbn"
            value="<%=h book.isbn %>"
            required>
        <% if book.errors.include?(:isbn) %>
          <p class="help is-danger"><%= book.errors.full_messages_for(:isbn).join %></p>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Save</button>
    </div>
  </div>
</form>

<% if book.persisted? %>
  <form action="/users/<%= user.slug %>/books/<%=h book.isbn %>" method="POST" class="has-text-right">
    <input type="hidden" name="_method" value="DELETE">
    <input type=hidden name=authenticity_token value="<%= env['rack.session'][:csrf] %>">
    <button class="button is-danger">Delete!</button>
  </form>
<% end %>
