<div class="columns">
  <div class="column is-4">
    <figure class="image is-3by4 mb-3">
      <a href="/books/<%= book.isbn %>">
        <img src="/books/image/<%= book.image || 'default.jpg' %>?v=<%= book.updated_at.to_i %>" loading="lazy">
      </a>
    </figure>

    <form action="/books/<%= book.isbn %>/shelf" method="POST">
      <input type=hidden name=authenticity_token value="<%= env['rack.session'][:csrf] %>">
      <div class="field">
        <div class="control">
          <a class="button is-fullwidth" href="/books/<%= book.isbn %>/image">Change Cover</a>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <a class="button is-fullwidth" href="/books/<%= book.isbn %>/edit">Edit</a>
        </div>
      </div>
      <div class="field has-addons">
        <div class="control is-expanded">
          <span class="select is-fullwidth">
            <select name="shelf_id">
              <option value="" <%= 'selected' if book.shelf.nil? %>>No Shelf</option>
              <% Shelf.all.each do |shelf| %>
                <option value="<%= shelf.id %>" <%= 'selected' if shelf == book.shelf %>><%=h shelf.name %></option>
              <% end %>
            </select>
          </span>
        </div>

        <div class="control">
          <button class="button">Move</button>
        </div>
      </div>
    </form>

  </div>
  <div class="column content">
    <h2 class="title"><%=h book.title %></h2>
    <p class="subtitle">
      <%= book.author %>
    </p>
    <p>
      Shelf:
      <% if book.shelf %>
        <a href="/shelves/<%= book.shelf_id %>"><%=h book.shelf.name %></a>
      <% else %>
        No shelf
      <% end %> <br/>
      ISBN: <%= book.isbn %> <br/>
      On Amazon:
        <a href="https://www.amazon.com/dp/<%= book.isbn %>" rel="noopener" target="_blank">Amazon.com</a>,
        <a href="https://www.amazon.de/dp/<%= book.isbn %>" rel="noopener" target="_blank">Amazon.de</a>,
        <a href="https://www.amazon.co.uk/dp/<%= book.isbn %>" rel="noopener" target="_blank">Amazon.co.uk</a>
    </p>
  </div>
</div>
