<div class="columns">
  <div class="column is-3">
    <figure class="image is-3by4 mb-5">
      <img src="<%= book_cover book %>" loading="lazy" class="cover">
    </figure>

    <% if can? :edit, book %>
      <form action="/users/<%= user.slug %>/books/<%=h book.isbn %>/shelf" method="POST">
        <input type=hidden name=authenticity_token value="<%= env['rack.session'][:csrf] %>">
        <div class="field">
          <div class="control">
            <a class="button is-fullwidth" href="/users/<%= user.slug %>/books/<%=h book.isbn %>/image">Change Cover</a>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <a class="button is-fullwidth" href="/users/<%= user.slug %>/books/<%=h book.isbn %>/edit">Edit</a>
          </div>
        </div>
        <div class="field has-addons">
          <div class="control is-expanded">
            <span class="select is-fullwidth">
              <select name="shelf_id">
                <option value="" <%= 'selected' if book.shelf.nil? %>>No Shelf</option>
                <% current_user.shelves.each do |shelf| %>
                  <option value="<%= shelf.id %>" <%= 'selected' if shelf == book.shelf %>><%=h shelf.name %></option>
                <% end %>
              </select>
            </span>
          </div>

          <div class="control">
            <button class="button">Move</button>
          </div>
        </div>

        <% if can? :highlight, book %>
          <div class="field">
            <div class="control">
              <a class="button is-warning is-fullwidth" href="/users/<%= user.slug %>/books/<%=h book.isbn %>/highlights/new">
                Create Highlight
              </a>
            </div>
          </div>
        <% end %>

      </form>
    <% end %>

    <hr/>

    <div class="buttons">
      <a class="button is-fullwidth" href="https://www.amazon.de/s?k=<%=h book.isbn %>" target="_blank" rel="noopener">On Amazon.de</a>
      <a class="button is-fullwidth" href="https://www.goodreads.com/search?q=<%=h book.isbn %>" target="_blank" rel="noopener">On Goodreads.com</a>
    </div>

  </div>

  <div class="column content">
    <% if book.shelf %>
      <a class="tag is-info is-light" href="/users/<%= user.slug %>#shelf-<%= book.shelf.id %>"><%=h book.shelf.name %></a>
    <% end %>
    <h2 class="title">
      <%=h book.title %>
    </h2>

    <% if book.subtitle? %>
      <p class="subtitle">
        <%=h book.subtitle %>
      </p>
    <% end %>

    <p class="subtitle is-capitalized">
      👤 <%=h book.author %>
    </p>

    <% if book.description? %>
      <p class="content">
        <%=h book.description %>
      </p>
    <% end %>

    <% if !loggedin? %>
      <div class="notification is-info is-light">
        You need to login to borrow this book.
      </div>
    <% end %>

    <% if loggedin? && !can?(:access, user) %>
      <p>
        <form action="/users/<%= user.slug %>/accesses" method="POST">
          <input type=hidden name=authenticity_token value="<%= env['rack.session'][:csrf] %>">
          <button class="button is-fullwidth is-info">Request Access to borrow from <%=h user.name %>'s library</button>
        </form>
      </p>
    <% end %>

    <% if can? :borrow, book %>
      <p>
        <form action="/users/<%= user.slug %>/books/<%=h book.isbn %>/borrows" method="POST">
          <input type=hidden name=authenticity_token value="<%= env['rack.session'][:csrf] %>">
          <div class="field has-addons">
            <div class="control is-expanded">
              <button class="button is-fullwidth is-info">I want to borrow this book for </button>
            </div>
            <div class="control">
              <input class="input" name="days" type="number" value="10"/>
            </div>
            <div class="control">
              <div class="button is-static">
                days
              </div>
            </div>
          </div>
          <p class="help">
            This will reveal your email and contact information to <%= book.user.name %>.
            Make sure you filled in enough contacts in your settings page.
          </p>
        </form>
      </p>
    <% end %>

    <% book.borrows.by_creation.borrowed.each do |borrow| %>
      <% next unless can? :show, borrow %>
      <div class="box">
        <div class="columns is-mobile">
          <div class="column">
            <%= borrow.user == current_user ? 'You' : borrow.user.name %>
            borrowed this book in
            <div class="tag"><%= format_date borrow.borrowed_at %></div>
            and is due
            <div class="tag"><%= format_date borrow.borrowed_at.to_date + borrow.days %>.</div>
          </div>

          <% if can? :return, borrow %>
            <div class="column is-narrow">
              <form action="/users/<%= user.slug %>/books/<%=h book.isbn %>/borrows/<%= borrow.id %>/return" method="POST">
                <input type=hidden name=authenticity_token value="<%= env['rack.session'][:csrf] %>">
                <button class="button is-success is-light">Returned</button>
              </form>
            </div>
          <% end %>
        </div>

        <% if can? :contact, borrow %>
          <table class="table">
            <tr>
              <th>email</th>
              <td><%=h borrow.user.email %></td>
            </tr>
            <% User::PROFILES.each do |profile| %>
              <% next unless borrow.user[profile].present? %>
              <tr>
                <th><%= profile %></th>
                <td><%=h borrow.user[profile] %></td>
              </tr>
            <% end %>
          </table>
        <% end %>

      </div>
    <% end %>

    <% book.borrows.by_creation.wait_list.each do |borrow| %>
      <% next unless can? :show, borrow %>
      <div class="box">
        <div class="columns is-mobile">
          <div class="column">
            <%= borrow.user == current_user ? 'You' : borrow.user.name %> wants to borrow this book for <%= borrow.days %> days.
          </div>

          <% if can? :borrow, borrow %>
            <div class="column is-narrow">
              <form action="/users/<%= user.slug %>/books/<%=h book.isbn %>/borrows/<%= borrow.id %>/borrow" method="POST">
                <input type=hidden name=authenticity_token value="<%= env['rack.session'][:csrf] %>">
                <button class="button is-success is-light">Borrowed</button>
              </form>
            </div>
          <% end %>

          <% if can? :delete, borrow %>
            <div class="column is-narrow">
              <form action="/users/<%= user.slug %>/books/<%=h book.isbn %>/borrows/<%= borrow.id %>" method="POST">
                <input type=hidden name=authenticity_token value="<%= env['rack.session'][:csrf] %>">
                <input name="_method" type="hidden" value="DELETE"/>
                <button class="button is-danger is-light">Delete</button>
              </form>
            </div>
          <% end %>
        </div>

        <% if can? :contact, borrow %>
          <table class="table">
            <tr>
              <th>email</th>
              <td><%=h borrow.user.email %></td>
            </tr>
            <% User::PROFILES.each do |profile| %>
              <% next unless borrow.user[profile].present? %>
              <tr>
                <th><%= profile %></th>
                <td><%=h borrow.user[profile] %></td>
              </tr>
            <% end %>
          </table>
        <% end %>

      </div>
    <% end %>


    <%= partial 'common/_separator' %>
    <% book.highlights.each do |highlight| %>

      <p class="has-text-centered has-text-weight-bold has-text-grey">
        « PAGE <%= highlight.page %> »
      </p>

      <p>
        <% if can? :edit, highlight %>
          <a href="/users/<%= user.slug %>/books/<%= book.isbn %>/highlights/<%= highlight.id %>/edit" class="icon is-medium">✏️</a>
          <a href="/users/<%= user.slug %>/books/<%= book.isbn %>/highlights/<%= highlight.id %>/image" class="icon is-medium">📸</a>
        <% end %>
        <%= simple_format highlight.content %>
      </p>

        <% if highlight.image? %>
          <div class="columns">
            <div class="column"></div>
            <div class="column is-8">
              <figure class="image">
                <img src="<%= highlight.image_url %>" loading="lazy">
              </figure>
            </div>
            <div class="column"></div>
          </div>
        <% end %>

    <% end %>

  </div>
</div>
