<form action="/users/<%= user.slug %>/books/<%= book.isbn %>/highlights/<%= highlight.id if highlight.persisted? %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= env['rack.session'][:csrf] %>">

  <div class="field">
    <label class="label">Page</label>
    <div class="control">
      <input
          class="input <%= 'is-danger' if highlight.errors.include?(:page) %>"
          type="number"
          name="page"
          value="<%=h highlight.page %>">
      <% if highlight.errors.include?(:page) %>
        <p class="help is-danger"><%= highlight.errors.full_messages_for(:page).join %></p>
      <% end %>
    </div>
  </div>

  <div class="field">
    <label class="label">Content</label>
    <div class="control">
      <textarea
          class="textarea <%= 'is-danger' if highlight.errors.include?(:content) %>"
          name="content"><%=h highlight.content %></textarea>
      <% if highlight.errors.include?(:content) %>
        <p class="help is-danger"><%=h highlight.errors.full_messages_for(:content).join %></p>
      <% end %>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Save</button>
    </div>
  </div>
</form>

<% if highlight.persisted? %>
  <form action="/users/<%= user.slug %>/books/<%=h book.isbn %>/highlights/<%= highlight.id %>" method="POST" class="has-text-right">
    <input type="hidden" name="_method" value="DELETE">
    <input type=hidden name=authenticity_token value="<%= env['rack.session'][:csrf] %>">
    <button class="button is-danger">Delete!</button>
  </form>
<% end %>
