    <% if user %>
      <a href="/users/<%= user.slug %>">
        <figure class="image is-64x64 container">
          <img class="is-rounded" src="<%= user.image || '/default_user' %>"/>
        </figure>
      </a>
    <% end %>

    <h1 class="title is-uppercase has-text-weight-bold mt-4">
      <% if user %>
        <a href="/users/<%= user.slug %>">
          <% if current_user == user %>
            Your Library
          <% else %>
            <%=h user.name + "\'s" if user %> Library
          <% end %>
        </a>
      <% else %>
        Library
      <% end %>
    </h1>

    <% if can? :login %>
      <form action="/auth/<%= settings.development? ? :developer : :google_oauth2 %>" method="POST">
        <input type=hidden name=authenticity_token value="<%= env['rack.session'][:csrf] %>">
        <input name="origin" type="hidden" value="<%=h request.path_info %>"/>
        <button class="button">
          Login with Google
        </button>
      </form>
    <% end %>
