<% accesses.pending.each do |access| %>
  <div class="box">
    <div class="columns is-mobile">
      <div class="column is-narrow">
        <figure class="image is-32x32">
          <img class="is-rounded" src="<%= access.owner.image || '/users/default' %>"/>
        </figure>
      </div>

      <div class="column">
        <%=h access.user.name %>
      </div>

      <% if can? :accept, access %>
        <div class="column is-narrow">
          <form action="/users/<%= user.slug %>/accesses/<%= access.id %>/accept" method="POST">
            <input type=hidden name=authenticity_token value="<%= env['rack.session'][:csrf] %>">
            <div class="control">
              <button class="button is-small is-success">Accept</button>
            </div>
          </form>
        </div>
      <% end %>

      <% if can? :reject, access %>
        <div class="column is-narrow">
          <form action="/users/<%= user.slug %>/accesses/<%= access.id %>/reject" method="POST">
            <input type=hidden name=authenticity_token value="<%= env['rack.session'][:csrf] %>">
            <div class="control">
              <button class="button is-small is-danger">Reject</button>
            </div>
          </form>
        </div>
      <% end %>
    </div>

    <% if can? :contact, access %>
      <table class="table">
        <tr>
          <th>email</th>
          <td><%=h access.user.email %></td>
        </tr>
        <% User::PROFILES.each do |profile| %>
          <% next unless access.user[profile].present? %>
          <tr>
            <th><%= profile %></th>
            <td><%=h access.user[profile] %></td>
          </tr>
        <% end %>
      </table>
    <% end %>

  </div>
<% end %>
