<% accesses.pending.each do |access| %>
  <div class="card is-shadowless">
    <div class="card-content">
      <div class="columns is-mobile">
        <div class="column is-narrow">
          <figure class="image is-32x32">
            <img class="is-rounded" src="<%= access.owner.image || '/users/default' %>"/>
          </figure>
        </div>
        <div class="column">
          <%=h access.user.name %>
        </div>
      </div>

      <% if can? :contact, access %>
        <table class="table">
          <tr> <th>email</th> <td><%=h access.user.email %></td> </tr>
          <% User::PROFILES.each do |profile| %>
            <% next unless access.user[profile].present? %>
            <tr> <th><%= profile %></th> <td><%=h access.user[profile] %></td> </tr>
          <% end %>
        </table>
      <% end %>
    </div>

    <div class="card-footer">
      <% if can? :accept, access %>
        <div class="card-footer-item">
          <form action="/users/<%= user.slug %>/accesses/<%= access.id %>/accept" method="POST">
            <input type=hidden name=authenticity_token value="<%= env['rack.session'][:csrf] %>">
            <button class="button is-success is-light">Accept</button>
          </form>
        </div>
      <% end %>
      <% if can? :reject, access %>
        <div class="card-footer-item">
          <form action="/users/<%= user.slug %>/accesses/<%= access.id %>/reject" method="POST">
            <input type=hidden name=authenticity_token value="<%= env['rack.session'][:csrf] %>">
            <button class="button is-danger is-light">Reject</button>
          </form>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
