<form action="/users/<%= user.id %>/shelves/<%= shelf.id %>" method="POST">
  <input type=hidden name=authenticity_token value="<%= env['rack.session'][:csrf] %>">

  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input <%= 'is-danger' if shelf.errors.include?(:name) %>" type="text" name="name" value="<%=h shelf.name %>" required>
      <% if shelf.errors.include?(:name) %>
        <p class="help is-danger"><%= shelf.errors.full_messages_for(:name).join %></p>
      <% end %>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Save</button>
    </div>
  </div>

</form>
