<% if books.count > 0 %>

  <h1 class="title is-2">Books without a shelf</h1>

  <div class="columns is-multiline">
    <% books.each do |book| %>
      <div class="column is-3">
        <%= erb :'books/_book', locals: { book: book } %>
      </div>
    <% end %>
  </div>

<% end %>

<% shelves.each do |shelf| %>
  <h2 class="title is-3">
    <a href="/shelves/<%= shelf.id %>" class="has-text-black">
      <%= shelf.name %>
    </a>
  </h2>

  <% if shelf.books.count > 0 %>
    <div class="columns is-multiline">
      <% shelf.books.limit(4).each do |book| %>
        <div class="column is-3">
          <%= erb :'books/_book', locals: { book: book } %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="notification has-text-centered">
      This is an empty shelf!
    </div>
  <% end %>
<% end %>

<div class="content">
  <form action="/shelves" method="POST">
    <input type=hidden name=authenticity_token value="<%= env['rack.session'][:csrf] %>">

    <div class="field has-addons">
      <div class="control is-expanded">
        <input class="input is-medium" type="text" name="name" placeholder="Shelf name..." required>
      </div>
      <div class="control">
        <button class="button is-medium">New Shelf</button>
      </div>
    </div>
  </form>
</div>
