<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LIBRARY</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <% if can? :logout %>
      <div class="container my-4">
        <div class="columns is-mobile">
          <div class="column is-narrow">
            <figure class="image is-32x32">
              <a href="/users/<%= current_user.slug %>">
                <img class="is-rounded" src="<%= current_user.image || '/users/default' %>"/>
              </a>
            </figure>
          </div>
          <div class="column">
            <a href="/users/<%= current_user.slug %>">
              <%= current_user.name %>
            </a>
          </div>
          <div class="column is-narrow">
            <a href="/users/<%= current_user.slug %>/edit">Settings</a>
          </div>
          <div class="column is-narrow">
            <a href="/logout" class="has-text-danger">Logout</a>
          </div>
        </div>
      </div>
    <% end %>

    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-mobile">
            <% if user %>
              <div class="column is-narrow">
                <figure class="image is-32x32">
                  <img class="is-rounded" src="<%= user.image || '/users/default' %>"/>
                </figure>
              </div>
            <% end %>
            <div class="column">
              <h1 class="title is-capitalized">
                <% if user %>
                  <a href="/users/<%= user.slug %>">
                    <% if current_user == user %>
                      Your Library
                    <% else %>
                      <%=h user.name + "\'s" if user %> Library
                    <% end %>
                  </a>
                <% else %>
                  Library
                <% end %>
              </h1>
            </div>
            <div class="column has-text-right">

              <% if current_user && can?(:create, user.books.new) %>
                <a href="/users/<%= user.slug %>/books/new" class="button">
                  📕 Add a Book
                </a>
              <% end %>

              <% if can? :login %>
                <form action="/auth/<%= settings.development? ? :developer : :google %>" method="POST">
                  <input type=hidden name=authenticity_token value="<%= env['rack.session'][:csrf] %>">
                  <input name="origin" type="hidden" value="<%=h request.path_info %>"/>
                  <button class="button">
                    Create/Access your library
                  </button>
                </form>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>

  </body>
</html>
