<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LIBRARY</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  </head>
  <body>

    <% if can? :logout %>

      <div class="container mt-4">
        <figure class="image is-32x32 is-pulled-left mx-3">
          <img class="is-rounded" src="<%= current_user.image || '/users/default' %>"/>
        </figure>
        <%= current_user.name %>
        [ <a href="/logout" class="has-text-danger">Logout</a> ]
        <hr/>
      </div>

    <% end %>

    <section class="hero is-info">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column">
              <h1 class="title">
                <a href="/">LIBRARY</a>
              </h1>
            </div>
            <div class="column has-text-right">

              <% if can? :create, current_user.books.new %>
                <a href="/books/new" class="button is-primary is-inverted is-outlined"> 📕 Add a Book </a>
              <% end %>

              <% if can? :login %>
                <form action="/auth/<%= settings.development? ? :developer : :google %>" method="POST">
                  <input type=hidden name=authenticity_token value="<%= env['rack.session'][:csrf] %>">
                  <button class="button is-primary is-light">Sign in with Google</button>
                </form>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="columns">
          <div class="column">
            <strong>LIBRARY</strong> by <a href="https://emadelsaid.com">Emad Elsaid</a>. The source code is free to use and modify on Github.
          </div>
          <div class="column">
            <aside class="menu">
              <ul class="menu-list">
                <li>
                  <a href="https://github.com/emad-elsaid/library">Github</a>
                </li>
              </ul>
            </aside>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
