<form action="/users/<%= user.slug %>" method="POST">
  <input type=hidden name=authenticity_token value="<%= env['rack.session'][:csrf] %>">

  <div class="field">
    <label class="label">Library description</label>
    <div class="control">
      <textarea
          class="textarea <%= 'is-danger' if user.errors.include?(:description) %>"
          name="description"><%=h user.description %></textarea>
      <p class="help">Maximum 500 character.</p>
      <% if user.errors.include?(:description) %>
        <p class="help is-danger"><%= user.errors.full_messages_for(:description).join %></p>
      <% end %>
    </div>
  </div>

  <div class="field">
    <label class="label">Amazon Associates ID</label>
    <div class="control">
      <input
          class="input <%= 'is-danger' if user.errors.include?(:amazon_associates_id) %>"
          name="amazon_associates_id" value="<%=h user.amazon_associates_id %>"/>
      <% if user.errors.include?(:amazon_associates_id) %>
        <p class="help is-danger"><%= user.errors.full_messages_for(:amazon_associates_id).join %></p>
      <% end %>
    </div>
  </div>

  <div class="title">
    Social Profiles
  </div>
  <% User::PROFILES.each do |profile| %>
    <div class="field">
      <label class="label is-capitalized"><%= profile %></label>
      <div class="control">
        <input
            class="input <%= 'is-danger' if user.errors.include?(profile) %>"
            name="<%= profile %>" value="<%=h user[profile] %>"/>
        <% if user.errors.include?(profile) %>
          <p class="help is-danger"><%= user.errors.full_messages_for(profile).join %></p>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Save</button>
    </div>
  </div>
</form>
